<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PhoenixReactReduxStarterKit!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link id="favicon" rel="icon" type="image/png" sizes="64x64" href="<%= static_path(@conn, "/favicon.png") %>"/>
  </head>

  <body>
    <div id="root" style="height: 100%"></div>
    <footer id="main_footer">
      <small>
        <a href="https://phoenix-react-redux-starter-kit.com/" target="_blank">Phoenix React Redux Starter Kit</a> tribute for educational purposes
        crafted with ♥ for <a href="https://www.wilthard.be/">Wilthard</a>
        by <a href="https://twitter.com/rsilvestre">@rsilvestre</a></small>
    </footer>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
