
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$shadow: hsla(0, 0, 0, .4);

/* New Palette */

$titanwhite: hsl(252, 30, 87);
$darksalmon: hsl(9, 70, 71);
$graysuit: hsl(255, 8, 60);
$navyblue: hsl(213, 73, 49);
$darkjunglegreen: hsl(151, 25, 11);
